.App {
  text-align: center;
}

.landing-container{
  height: 100vh;
  background-image: url('https://res.cloudinary.com/infiniteloom/image/upload/v1602724522/Echo%20Messenger/Nightclub-Photography-4_ludujk.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing-btn-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}
.btn{
  width: 340px;
  height: 60px;
  border-radius: 10px;
  margin: 10px;
}
.btn-primary{
  background-color: rgb(241, 81, 60);
  color: white;
}
.brand-name{
  font-weight: bold;
}
.logo{
  fill: white;
  font-size: 3em;
}