.App {
  text-align: center;
}

.landing-container {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/infiniteloom/image/upload/v1602724522/Echo%20Messenger/Nightclub-Photography-4_ludujk.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.landing-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}
.btn {
  width: 340px;
  height: 60px;
  border-radius: 10px;
  margin: 10px;
}
.btn-primary {
  background-color: rgb(241, 81, 60);
  color: white;
}
.btn-primary:hover {
  background-color: rgb(204, 72, 55);
}
.brand-name {
  font-weight: bold;
  font-size: 0.8em;
  padding-top: 4em;
}
.logo {
  fill: white;
  transform: scale(7);
  padding-top: 0.6em;
}

/* All messages screen */
.all-messages-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-cont {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  padding: 1em 1em 0 1em;
  border-bottom: 2px solid #616161;
  border-top: 2px solid #616161;
  transition: 0.3s ease;
}
.message-cont:hover {
  border: 2px solid rgb(241, 81, 60);
  transform: scale(1.1);
}
.message-cont:hover h3 {
  color: rgb(241, 81, 60);
}
.receiver-avatar {
  height: 4em;
  width: 4em;
  margin-right: 2em;
  border-radius: 2em;
}
.excerpt {
  /* min-width: 250px; */
  width: 100%;
}
.excerpt h3 {
  text-align: right;
}
.excerpt p {
  text-align: right;
  color: #616161;
  text-align: right;
}

/* User Profile */
.profile {
  color: #616161;
  /* background: linear-gradient(
    to bottom,
    #d4d4d4,
    #d4d4d4 25%,
    white 25%,
    white 75%,
    #d4d4d4 75%
  ); */
  padding: 2em 1em;
  border-radius: 10px;
}
.profile h3 {
  margin-bottom: 2em;
  font-weight: bold;
  color: #616161;
}
.profileField {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #616161;
}
.profileField label {
  font-size: 0.75em;
  margin-right: 2em;
  padding-top: 0.75em;
}
.profileField input {
  border: none;
  font-size: 0.75em;
}
