.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* User Profile */
.profile {
  color: #616161;
  background: linear-gradient(
    to bottom,
    #d4d4d4,
    #d4d4d4 25%,
    white 25%,
    white 75%,
    #d4d4d4 75%
  );
  padding: 2em 1em;
  border-radius: 10px;
}
.profile h3 {
  margin-bottom: 2em;
  font-weight: bold;
  color: #616161;
}
.profileField {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #616161;
}
.profileField label {
  font-size: 0.75em;
  margin-right: 2em;
  padding-top: 0.75em;
}
.profileField input {
  border: none;
  font-size: 0.75em;
}
